.workout-table {
    text-align: center;
     flex-direction: column;
    align-items: stretch;
    margin:20px;
}

.workout-container {
   margin: 0 30px;
    padding: 0 30px;
    display: block;
    border: 3px outset;

}

table, th, td {
  border: 1px solid black;
}