.footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;;
background: var(--clr-dark);
}

.footer a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  text-decoration: none;
}

.footer a:hover {
  color: var(--clr-accent);
}