
*, *::before, *::after {
box-sizing: border-box;
 /* outline: 1px dashed #303030;  */
}

/* Custom Properties */
:root {
    --ff-primary:'Roboto', sans-serif;
    --ff-secondary:'Open Sans', sans-serif;
    
    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#101010;
    --clr-accent:#F29602;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px){
    :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.50rem;
    --fs-body: 1.125rem;
    }
}



/*General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(var(--clr-dark));
    margin:auto;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    text-align: center;

}

section {
    padding: 1em 2em 2em;
    min-height: 200px;
    
}

img {
   
max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}   

/* Buttons */
button {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

button:hover{
    transform: scale(1.1)
}
/* Typography */

h1,h2,h3 {
    line-height:1;
    margin:0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}


ul {
   list-style-type: none; 
   padding: 0; 
   margin: 0; 
   display: inline-flex;
  text-decoration: none;
} 